`celldefine
module nem_ohmux_invd${D}_${M}i_${N}b ($inpins, $outpins);
    input $inpins;
    output $outpins;

    $assigns

    specify
        // specify_block_begin

        $specifies

        // specify_block_end
    endspecify
endmodule
`endcelldefine
