.title <ohmux_test_${M}i_${N}b.sp>
.include ../models/nem_ohmux_${M}i_${N}b.sp

** Tests one-hot multiplexer using analog inputs **

** Create relay and start at z=0 **
Xmux $pins VDD VSNEM VSS nem_ohmux_${M}i_${N}b

** Source voltage **
$VI
$VS
$RZ
VDD VDD gnd ${VDD}V
VSNEM VSNEM gnd ${VSNEM}V
VSS VS gnd 0V

** Options **
.tran 0.0001us ${tmax}ns
.option post=2
.option runlvl=5 accurate method=gear vntol=1f

.end
