set_netlist_file [get_location]/netlists/nem_ohmux_invd${D}_${M}i_${N}b.sp


## 
## Pin definitions.
##
$pindefs


## 
## Cell function definitions.
## 
$fndefs


## 
## Cell bundling.
## 
$bundles


## 
## User-specified characterization and modeling configuration options.
## 
create_parameter cut_netlist
set_config_opt -opcond __default__ -- cut_netlist nem_ohmux_invd${D}_${M}i_${N}b.sp
set_liberty_attribute -cell nem_ohmux_invd${D}_${M}i_${N}b area $area
set_liberty_attribute -cell nem_ohmux_invd${D}_${M}i_${N}b contention_condition "$contention_condition"

create_parameter state_partitions
set_config_opt -- state_partitions $spart

create_parameter explicit_points_load
set_config_opt -type { timing noise input_capacitance } -- explicit_points_load\
    $loadpts
set_config_opt -type energy -- explicit_points_load\
    $loadpts
